/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require epi_utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice

*/

.overlay.active {
    right: 0;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: -100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .close-btn {
    position: absolute;
    top: 0;
    right: 40px;
    padding: 0;
    font-size: 50px;
}

@media (max-width: 768px) {
    .overlay {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .overlay {
        width: 300px;
    }
}

.fill_container {
    width: 100%;
}

.post_colour {
    background-color: #f1e9eb;
}

.reply_body_colour {
    background-color: #eaeaea;
}

.text_lightgrey {
    color: #A9A9A9;
}

.float_right{
    float: right;
}

.black_bg {
    color: #000000;
}

.move_right {
    float: right !important;
    display: block;
}

.reply_color {
    color: #000;
    background-color: #fffafa;
    border: 1px solid #A9A9A9;
    border-radius: 2px;
    margin: 5px;
    display: table;
}

.original_border {
    color: #000;
    background-color: #dbd6d6;
    border: 1px solid #696969;
    border-radius: 3px;
    margin: 5px;
    display: table;
}


.well{
    color: #000;
    margin-top: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

h5{
    text-decoration: underline;
}
